---
import { Header } from "@/components/Header";
import { Footer } from "@/components/Footer";
import {
  AUTHOR,
  BASE_URL,
  SITE_DESCRIPTION,
  SITE_TITLE,
  SITE_TAGS
  } from "@/_utils/constants";

import "@/assets/styles/main.scss";
import "@/assets/styles/syntax.scss";

type Props = {
  title?: string;
  description?: string | undefined;
  tags?: string[];
  image?: string | undefined;
  minimal?: boolean;
};

const {
  title,
  description = SITE_DESCRIPTION,
  tags: startTags,
  image,
  minimal = false,
} = Astro.props;

const tags = Array.isArray(startTags) && startTags.length > 0
  ? startTags
  : SITE_TAGS;
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="manifest" href="/manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-starturl" content="/index.html" />

    <meta name="theme-color" content="#fbfbf8" />

    {minimal
      ? <title>{title || SITE_TITLE}</title>
      : <title>{title ? `${title} - ${SITE_TITLE}` : SITE_TITLE}</title>}
    <meta name="og:title" content={title || SITE_TITLE} />
    <meta name="twitter:title" content={title || SITE_TITLE} />

    <link rel="apple-touch-startup-image" href="/favicon/favicon.png" />
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="/favicon/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/favicon.png"
    />
    <link
      rel="shortcut icon"
      sizes="192x192"
      href="/favicon/favicon.png"
    />

    <meta property="og:site_name" content={SITE_TITLE} />
    <meta name="twitter:site" content={SITE_TITLE} />
    <meta name="application-name" content={SITE_TITLE} />
    <meta name="apple-mobile-web-app-title" content={SITE_TITLE} />

    <meta name="author" content={AUTHOR} />
    <meta name="twitter:creator" content={AUTHOR} />

    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta name="keywords" content={tags.join(",")} />

    {image &&
      (
        <>
          <meta name="og:image" content={image} />
          <meta name="twitter:image" content={image} />
        </>
      )}

    <meta name="og:url" content={Astro.url} />
    <link rel="canonical" href={Astro.url} />

    <meta name="twitter:card" content="summary" />
    <meta name="og:type" content="website" />

    <link
      rel="alternate"
      type="application/rss+xml"
      href={new URL("/feed.xml", BASE_URL).toString()}
      title={SITE_TITLE}
    />

    <link
      rel="preload"
      as="font"
      type="font/woff"
      href="/fonts/Inter/Inter-Regular.woff"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff"
      href="/fonts/Inter/Inter-Bold.woff"
      crossorigin
    />
  </head>
  <body>
    {!minimal && <Header currentUrl={Astro.url} />}
    <main>
      <slot />
    </main>
    <Footer minimal={minimal} />
  </body>
</html>
